# Игнорировать объектные файлы
*.o
*.obj

# Игнорировать динамические библиотеки
*.so
*.dll
*.dylib

# Игнорировать логи и архивы
*.log
*.tar.gz
*.zip

# Игнорировать конкретный исполняемый файл по имени (если он один)
uForth

